name: Build and Push Docker Image


on:
  push:
      branches: [ main ]

  workflow_dispatch: 

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}

jobs: 
  build-and-push:
    name: Build Docker Image and Push Image to ECR_REPOSITORY

    runs-on: ubuntu-latest

    permissions: 
      id-token: write
      contents: read

    outputs: 
      image-tag: ${{ steps.image-info.outputs.tag }}
      image-uri: ${{ steps.image-info.outputs.uri }}

    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with: 
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          source-account-id: 'YOUR_ACCOUNT_ID'
          role-duration-seconds: 3600

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and tag image 
        id: build-image
        run: |
          cd app
          docker build -t threatcomp .
          docker tag threatcomp:latest ${{ secrets.DOCKER_IMAGE }}
        
    
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        continue-on-error: true
        with:
        image-ref: ${{ secrets.DOCKER_IMAGE }}

      - name: Push to Amazon ECR
        run: |
          docker push ${{ secrets.DOCKER_IMAGE }}

      





